## DATA PREPROCESSING AND DATA CLEANING

In [38]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [39]:
df=pd.read_csv('customer_activation.CSV')
df = df.drop(columns=['CLIENTNUM'])
df = df.drop(columns=['Income_Category'])
df = df.drop(columns=['Contacts_Count_12_mon'])
df = df.drop(columns=['Avg_Open_To_Buy'])
df = df.drop(columns=['Total_Amt_Chng_Q4_Q1'])
df = df.drop(columns=['Total_Trans_Ct'])
df = df.drop(columns=['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1'])
df = df.drop(columns=['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'])
df = df.drop(columns=['Total_Ct_Chng_Q4_Q1'])
df = df.drop(columns=['Avg_Utilization_Ratio'])

In [40]:
df.tail()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Trans_Amt
10122,Existing Customer,50,M,2,Graduate,Single,Blue,40,3,2,4003.0,1851,15476
10123,Attrited Customer,41,M,2,Unknown,Divorced,Blue,25,4,2,4277.0,2186,8764
10124,Attrited Customer,44,F,1,High School,Married,Blue,36,5,3,5409.0,0,10291
10125,Attrited Customer,30,M,2,Graduate,Unknown,Blue,36,4,3,5281.0,0,8395
10126,Attrited Customer,43,F,2,Graduate,Married,Silver,25,6,2,10388.0,1961,10294

In [34]:
df.shape

(10127, 13)

In [24]:
df.size

131651

In [25]:
df.columns

Index(['Attrition_Flag', 'Customer_Age', 'Gender', 'Dependent_count',
       'Education_Level', 'Marital_Status', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon', 'Credit_Limit',
       'Total_Revolving_Bal', 'Total_Trans_Amt'],
      dtype='object')

In [26]:
df.isnull()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Trans_Amt
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,False,False,False,False,False,False,False,False,False,False,False,False,False
10123,False,False,False,False,False,False,False,False,False,False,False,False,False
10124,False,False,False,False,False,False,False,False,False,False,False,False,False
10125,False,False,False,False,False,False,False,False,False,False,False,False,False
10126,False,False,False,False,False,False,False,False,False,False,False,False,False

In [27]:
df = df.dropna()

In [41]:
df['Card_Category'].value_counts()

Card_Category
Blue        9436
Silver       555
Gold         116
Platinum      20
Name: count, dtype: int64

In [42]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

var = ['Attrition_Flag','Gender','Education_Level','Marital_Status','Card_Category']
  
for i in var:
    df[i] = le.fit_transform(df[i]).astype(int)

In [43]:
df['Card_Category'].value_counts()

Card_Category
0    9436
3     555
1     116
2      20
Name: count, dtype: int64

In [12]:
df.describe()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Trans_Amt
count,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,0.839340,46.325960,0.470919,2.346203,3.096574,1.463415,0.179816,35.928409,3.812580,2.341167,8631.953698,1162.814061,4404.086304
std,0.367235,8.016814,0.499178,1.298908,1.834812,0.737808,0.693039,7.986416,1.554408,1.010622,9088.776650,814.987335,3397.129254
min,0.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,1.000000,0.000000,1438.300000,0.000000,510.000000
25%,1.000000,41.000000,0.000000,1.000000,2.000000,1.000000,0.000000,31.000000,3.000000,2.000000,2555.000000,359.000000,2155.500000
50%,1.000000,46.000000,0.000000,2.000000,3.000000,1.000000,0.000000,36.000000,4.000000,2.000000,4549.000000,1276.000000,3899.000000
75%,1.000000,52.000000,1.000000,3.000000,5.000000,2.000000,0.000000,40.000000,5.000000,3.000000,11067.500000,1784.000000,4741.000000
max,1.000000,73.000000,1.000000,5.000000,6.000000,3.000000,3.000000,56.000000,6.000000,6.000000,34516.000000,2517.000000,18484.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  int32
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  int32
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  int32
 5   Marital_Status            10127 non-null  int32
 6   Card_Category             10127 non-null  int32
 7   Months_on_book            10127 non-null  int64
 8   Total_Relationship_Count  10127 non-null  int64
 9   Months_Inactive_12_mon    10127 non-null  int64
 10  Credit_Limit              10127 non-null  float64
 11  Total_Revolving_Bal       10127 non-null  int64
 12  Total_Trans_Amt           10127 non-null  int64
dtypes: float64(1), int32(5), int64(7)
memory usage: 830.9 KB

In [14]:
df.corr()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Trans_Amt
Attrition_Flag,1.000000,-0.018203,0.037272,-0.018991,-0.005551,-0.018597,0.006038,-0.013687,0.150005,-0.152449,0.023873,0.263053,0.168598
Customer_Age,-0.018203,1.000000,-0.017312,-0.122254,0.004083,-0.011265,-0.020131,0.788912,-0.010931,0.054361,0.002476,0.014780,-0.046446
Gender,0.037272,-0.017312,1.000000,0.004563,0.000694,-0.000007,0.079203,-0.006728,0.003157,-0.011163,0.420806,0.029658,0.024890
Dependent_count,-0.018991,-0.122254,0.004563,1.000000,0.003788,0.000337,0.021674,-0.103062,-0.039076,-0.010768,0.068065,-0.002688,0.025046
Education_Level,-0.005551,0.004083,0.000694,0.003788,1.000000,0.014720,-0.007212,-0.004953,0.009636,-0.008077,0.003076,0.008029,0.015287
Marital_Status,-0.018597,-0.011265,-0.000007,0.000337,0.014720,1.000000,0.035947,-0.012084,-0.021393,0.001709,0.031292,-0.025386,0.044553
Card_Category,0.006038,-0.020131,0.079203,0.021674,-0.007212,0.035947,1.000000,-0.014749,-0.073770,-0.016816,0.484090,0.017027,0.176377
Months_on_book,-0.013687,0.788912,-0.006728,-0.103062,-0.004953,-0.012084,-0.014749,1.000000,-0.009203,0.074164,0.007507,0.008623,-0.038591
Total_Relationship_Count,0.150005,-0.010931,0.003157,-0.039076,0.009636,-0.021393,-0.073770,-0.009203,1.000000,-0.003675,-0.071386,0.013726,-0.347229
Months_Inactive_12_mon,-0.152449,0.054361,-0.011163,-0.010768,-0.008077,0.001709,-0.016816,0.074164,-0.003675,1.000000,-0.020394,-0.042210,-0.036982
Credit_Limit,0.023873,0.002476,0.420806,0.068065,0.003076,0.031292,0.484090,0.007507,-0.071386,-0.020394,1.000000,0.042493,0.171730
Total_Revolving_Bal,0.263053,0.014780,0.029658,-0.002688,0.008029,-0.025386,0.017027,0.008623,0.013726,-0.042210,0.042493,1.000000,0.064370
Total_Trans_Amt,0.168598,-0.046446,0.024890,0.025046,0.015287,0.044553,0.176377,-0.038591,-0.347229,-0.036982,0.171730,0.064370,1.000000

In [15]:
pd.Categorical(df["Education_Level"]).describe()

            counts     freqs
categories
0             1013  0.100030
1              451  0.044534
2             3128  0.308877
3             2013  0.198776
4              516  0.050953
5             1487  0.146835
6             1519  0.149995

In [16]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10122    False
10123    False
10124    False
10125    False
10126    False
Length: 10127, dtype: bool

In [17]:
sum(df.duplicated())

0